/* Setting up the profile div*/
.profile {
    display: grid;
    grid-template-rows: 6rem 3rem 3rem 1fr;
    grid-template-columns: 1fr;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

h1 {
    margin: 0;
}

.profile {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.profilePicture img,
.coverPicture img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.content {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
}
